/*Programmer Name:98
This is the CSS file for listing the patient information page to style it in a neat table and use the fonts chosen 
by importing Google Fonts for use throughout the webpage since it didn't work
 for some reason to add them in the php file*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

body {
  background-color: #f0f2f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1, label {
  font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Merriweather', sans-serif;
}


form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

button {
  display: block;
  margin: 10px 0;
  background-color: #004aad;
  color: white;
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

input[type="radio"] {
  margin: 5px;
}


table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather', sans-serif;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #004aad;
  color: white;
  font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}




